# Dependencies
node_modules

# Build
dist

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
.cache

# Weather Bot
weather-bot/
